<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tlab.wish"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    //need for leak canary
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    //need for leak canary
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".startup.StartupActivity"
            android:configChanges="orientation"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".main_view_staff.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".pin_staff.CheckPinActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:label="@string/pin_title"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".pin_staff.SetPinActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:label="@string/set_pin_title"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".pin_staff.RemovePinActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:label="@string/remove_pin_title"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".new_wish.NewWishActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:label="@string/new_wish_title"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".new_wish.EditWishActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:label="@string/edit_wish_title"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name=".authentication.AuthActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:label="@string/signup_title">
        </activity>
    </application>

</manifest>
